*.pyc
*.dbcredentials
saved_session*
*.fbtoken
*.log
*.json
*.zip
*.csv
PoC/
text8
company-reviews/
word_embeddings/model*/
word_embeddings/data.txt
*.out
*.pkl
visual/company_reviews/company_reviewsenv/
visual/company_reviews/__pycache__/
.idea
