<!DOCTYPE html>
<html class="no-js">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>


    <!-- Meta info -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Maps</title>
    <meta content="" name="description" />
    <link rel="Shortcut Icon" type="image/x-icon" href="#" />

  	<link href="templates/topic_modeling.html" rel="next" />
  	<link href="templates/index.html" rel="prev" />
    <meta name="author" content="" />
    <meta name="format-detection" content="" />

    <!-- Styles -->
    <link href="styles/main.css" rel="stylesheet" media="screen, print" type="text/css" />
    <link href="styles/maps.css" rel="stylesheet" type="text/css">
    <script src="lib/modernizr-2.6.2.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>

    <!-- nouislider -->
    <link rel="stylesheet" href="styles/nouislider.css">
    <script src="scripts/nouislider.js"></script>

    <!-- moment -->
    <script src="lib/moment.js"></script>

    <!-- Include jQuery Mobile stylesheets -->
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

    <!-- Include the jQuery library -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <!-- Include the jQuery Mobile library -->
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script>
    var companies = [];

    function req_comps() {
      return $.getJSON( "/company_names", function( json ) {
          companies = json;
     });
    };

    $.when(req_comps()).done(function(a1){
      $( "#comps" ).autocomplete({
        source: companies
      });
    });
    </script>
</head>
<body>
    <div id="container">
        <section id="content">

<div id="pfd-work">
	<div id="work-bio">
		<header>
			<div id="pfd">
				<a href="/">
            		<img src="images/site_logo.png" alt="logo">
        		</a>
            </div>

			<div id="preamble">
                <h1>Maps</h1>
                <h2>Heat Map of Company Reviews</h2>
                <p>Hover over the maps to see tooltip with additional details</p>
				<p>Scroll down the page to see the world map</p>
				<h3>Companies</h3>
				<p class="space-after">Chose a company below</p>


                <!-- ************************************************************************************************************************ -->
                <div class="ui-widget" style="width: 50%">
                  <label for="comps"></label>
                  <input id="comps"  placeholder="Company...">
                  <button id="comps_submit" class="ui-button ui-widget ui-corner-all">Submit</button>
                </div>
                <!-- ************************************************************************************************************************  -->

                <!-- Filters ************************************************************************************************************************  -->
                <div style="margin-top: 30px">
                  <p style="margin-bottom: 5px; font-size: 140%;">Filters</p>

                  <div style="margin-bottom: 0px; margin-top: 0px;">
                    <h3 id="inter-values" style="margin-buttom: 25px"><h3>
                    <div id="datef" style="margin-top: 10px; margin-buttom: 5px;"></div>
                  </div>

                    <div class="card" style="width: 65%; margin-top: 30px">
                      <label class="radio" style="text-align: left;">
                        <input id="overall_review_score" type="radio" name="radios" checked><span class="outer"><span class="inner"></span></span>Overall Review Score</label>
                      <label class="radio" style="text-align: left;">
                        <input id="job_work_life_balance" type="radio" name="radios"><span class="outer"><span class="inner"></span></span>Job Work Life Balance</label>
                      <label class="radio" style="text-align: left;">
                        <input id="compensation_benefits" type="radio" name="radios"><span class="outer"><span class="inner"></span></span>Compensation Benefits</label>
                      <label class="radio" style="text-align: left;">
                        <input id="job_security_advancement" type="radio" name="radios"><span class="outer"><span class="inner"></span></span>Job Security Advancement</label>
                      <label class="radio" style="text-align: left;">
                        <input id="management" type="radio" name="radios"><span class="outer"><span class="inner"></span></span>Management</label>
                      <label class="radio" style="text-align: left;">
                        <input id="job_culture" type="radio" name="radios"><span class="outer"><span class="inner"></span></span>Job Culture</label>
                    </div>
                </div>
                <!-- *******************************************************************************************************************************  -->

			</div>

            <ul id="links">
                <li>
                    <a href="/" id="home">Home</a>
                </li>
            </ul>
		</header>
    </div>

    <section id="work-visuals">
    	<ul>
			<li id="map_1">
                <div id="tooltip"></div><!-- div to hold tooltip. -->
                <svg width="960" height="800" id="statesvg"></svg> <!-- svg to hold the map. -->
                <script src="scripts/uStates.js"></script> <!-- creates uStates. -->
		&nbsp;</li>
			<li id="map_2">
		&nbsp;</li>
			<li data-visual="ipad-website-design-florentina-events"><img src="http://via.placeholder.com/1600x1250">
		&nbsp;</li>
			<li data-visual="florentina-website-design-full-page"><img src="http://via.placeholder.com/1600x1250">
		&nbsp;</li>
		</ul>
    </section>

    <footer>
        <ul id="other-projects">
            <li>
                <a class="previous-work" href="" rel="prev">Lorem Ipsum</a>
            </li>
            <li>
                <a class="next-work" href="" rel="next">Lorem Ipsum</a>
            </li>
        </ul>
    </footer>
</div>
</section>


        <footer id="msf">
            <div class="wrapper">
                <ul id="lets-be-social">
                    <li>
                        <a href="https://twitter.com/" rel="external" target="_blank" title="Twitter">Twitter.</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" rel="external" target="_blank" title="Be Facebook friend">Facebook.</a>
                    </li>
                    <li>
                        <a href="http://www.pinterest.com/" rel="external" target="_blank" title="Pinterest">Pinterest.</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div><!-- container -->

    <nav id="toc">
        <ul>
            <li>
                <a href="templates/index.html">Work.</a></li>
            <li>
                <a href="templates/about.html">About.</a></li>
            <li>
                <a href="templates/what-we-do.html">What we do.</a></li>
        </ul>
	</nav>

    <div id="no-script">
        <div>
            <p>
                This website is fully responsive and requires Javascript.<br/>
            </p>
        </div>
    </div><!-- no-script -->

    <script src="lib/underscore-min.js"></script>
    <script src="lib/jquery-ext.js"></script>
  	<script src="scripts/pyaari-main.1.0.js"></script>
    <script src="scripts/pyaari-menu.1.0.js"></script>
    <script src="scripts/maps.js"></script>
    <script>
        $(document).ready(function () {
            PfdMenu._ctor();
        });
    </script>

    <script src="scripts/pyaari-work-bio.1.0.js"></script>


</body>
</html>
