<!DOCTYPE html>
<html class="no-js">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>

    <!-- Meta info -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Topic Modeling</title>
    <meta content="" name="description" />
    <link rel="Shortcut Icon" type="image/x-icon" href="#" />
    
	<link href="templates/topic_modeling.html" rel="next" />
	<link href="templates/index.html" rel="prev" />
    <meta name="author" content="" />
    <meta name="format-detection" content="" />

    <!-- Styles -->
    <link href="styles/main.css" rel="stylesheet" media="screen, print" type="text/css" />
    <link href="styles/topic_modeling.css" rel="stylesheet" type="text/css">
    <script src="lib/modernizr-2.6.2.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    
    <!-- Include jQuery Mobile stylesheets -->
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    
    <!-- Include the jQuery library -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    
    <!-- Include the jQuery Mobile library -->
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    
</head>
<body>
    <div id="container">
        <section id="content">
            
<div id="pfd-work">
	<div id="work-bio">
		<header>
			<div id="pfd">
				<a href="/">
            		<img src="images/site_logo.png" alt="logo">
        		</a>
            </div>
            
			<div id="preamble">
                <h1>Topic Modeling</h1>
                <h2>Sample Description</h2>
                <p>Non-negative matrix factorization (NMF or NNMF), also non-negative matrix approximation is a group of algorithms in multivariate analysis and linear algebra where a matrix V is factorized into (usually) two matrices W and H, with the property that all three matrices have no negative elements. This non-negativity makes the resulting matrices easier to inspect.</p>
				<p>Latent Dirichlet allocation (LDA) is a generative statistical model that allows sets of observations to be explained by unobserved groups that explain why some parts of the data are similar. For example, if observations are words collected into documents, it posits that each document is a mixture of a small number of topics and that each word's creation is attributable to one of the document's topics.</p>
				<p class="space-after">Buisness Explanation</p>
				<h3>Companies</h3>
				<p class="space-after">Chose a company below</p>
                
                
                
                <fieldset data-role="controlgroup" data-iconpos="right"> 
                    <input type="checkbox" name="checkbox-h-6a" id="checkbox-h-6a">
                    <label for="checkbox-h-6a" id="checkbox-h-6a_label">Hewlett Packard Enterprise</label>
                    <input type="checkbox" name="checkbox-h-6b" id="checkbox-h-6b">
                    <label for="checkbox-h-6b">DXC Technology</label>
                    <input type="checkbox" name="checkbox-h-6c" id="checkbox-h-6c">
                    <label for="checkbox-h-6c">Computer Sciences Corporation</label>
                </fieldset> 

			</div>
            
            <ul id="links">
                <li>
                    <a href="/" id="home">Home</a>
                </li>
            </ul>
		</header>
    </div>
    
    <section id="work-visuals">
    	<ul>
			<li id="list_1">
		&nbsp;</li>
			<li id="list_2">
		&nbsp;</li>
			<li data-visual="ipad-website-design-florentina-events"><img src="http://via.placeholder.com/1600x1250">
		&nbsp;</li>
			<li data-visual="florentina-website-design-full-page"><img src="http://via.placeholder.com/1600x1250">
		&nbsp;</li>
		</ul>
    </section>
    
    <footer>
        <ul id="other-projects">
            <li>
                <a class="previous-work" href="" rel="prev">Lorem Ipsum</a>
            </li>
            <li>
                <a class="next-work" href="" rel="next">Lorem Ipsum</a>
            </li>
        </ul>
    </footer>
</div>
</section>


        <footer id="msf">
            <div class="wrapper">
                <ul id="lets-be-social">
                    <li>
                        <a href="https://twitter.com/" rel="external" target="_blank" title="Twitter">Twitter.</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" rel="external" target="_blank" title="Be Facebook friend">Facebook.</a>
                    </li>
                    <li>
                        <a href="http://www.pinterest.com/" rel="external" target="_blank" title="Pinterest">Pinterest.</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div><!-- container -->
    
    <nav id="toc">
        <ul>
            <li>
                <a href="templates/index.html">Work.</a></li>
            <li>
                <a href="templates/about.html">About.</a></li>
            <li>
                <a href="templates/what-we-do.html">What we do.</a></li>
        </ul>
	</nav>
    
    <div id="no-script">
        <div>
            <p>
                This website is fully responsive and requires Javascript.<br/>
            </p>
        </div>
    </div><!-- no-script -->
    
  <script src="ajax/jquery-1.11.0.min.js"></script>
    <script src="lib/underscore-min.js"></script>  
    <script src="lib/jquery-ext.js"></script>
  	<script src="scripts/pyaari-main.1.0.js"></script>
    <script src="scripts/pyaari-menu.1.0.js"></script>
    <script src="scripts/topic_modeling.js"></script>
    <script>
        $(document).ready(function () {
            PfdMenu._ctor();
        });
    </script>
    
    <script src="scripts/pyaari-work-bio.1.0.js"></script>
 

</body>
</html>